@use "../responsive";
@import "../main";

.footer {
  max-width: 1280px;
  margin: $content-margin;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: $content-padding;
  text-align: center;
  font-family: "emoji";
  color: $white;
  background-color: $background-transparent;

  @media (max-width: responsive.$mobile-large) {
    flex-direction: column;
  }

  .footer_item {
    margin: 0.2em 0;

    .footer_text {
      vertical-align: super;
    }

    .footer_image {
      margin: 0 0.5em;
    }
  }
}
