@import "../main";

.events {
  font-family: "emoji";
  margin: $content-margin;
  background-color: $background-transparent;

  .events_row {
    display: flex;
    padding: 0.5em 0;
    font-size: 1.5em;
    border-bottom: 1px solid $gray;

    span {
      padding: 0.5em;
    }

    span:nth-child(1) {
      flex: 1;
      color: $gray;
    }

    span:nth-child(2) {
      flex: 1;
      color: $white;
    }

    span:nth-child(3) {
      flex: 4;
      color: $gray;
      text-align: right;
    }
  }
}
