@use "../responsive.scss";
@import "../main.scss";

.photos {
  max-width: 1280px;
  margin: $content-margin;

  .photos_grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 1em;

    .band_photo {
      width: 100%;
      max-height: 400px;
      object-fit: cover;
      background-color: $background-transparent;

      &:hover {
        cursor: pointer;
        filter: contrast(0.5);
      }
    }
  }
}

.modal_overlay {
  background-color: rgb(0, 0, 0, 0.5);
  position: fixed;
  inset: 0;
  overflow: auto;
}

.modal_content {
  width: 80%;
  background-color: $white;
  margin: 1em auto;
  padding: 1em;
  border: 1px solid $gray;

  @media (min-width: responsive.$laptop) {
    width: 50%;
  }

  &:focus {
    outline: none;
  }

  .modal_image {
    width: 100%;
    height: auto;
  }
}
