@import "../main.scss";

.photos {
  max-width: 1280px;
  margin: $content-margin;

  .photos_grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 1em;

    .band_photo {
      width: 100%;
      max-height: 400px;
      object-fit: cover;
      background-color: $background-transparent;

      &:hover {
        cursor: pointer;
        filter: contrast(0.5);
      }
    }
  }
}
