// How To - CSS/JS Modal
// https://www.w3schools.com/howto/howto_css_modals.asp

@import "../main";

.photo_modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;

  .photo_modal_content {
    background-color: $white;
    margin: 1em auto;
    padding: 20px;
    border: 1px solid $gray;
    width: 80%;
  }
}
