.photos {
  margin: 1em;

  .photos_grid {
    display: grid;
    grid-template-columns: auto auto auto;
    .band_photo {
      height: 416px !important;
      object-fit: cover;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
