@mixin header_text {
  letter-spacing: 3px;
  -webkit-text-stroke-width: 0.1px;
  -webkit-text-stroke-color: black;
  color: white;
}

@mixin background_image {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  background-size: cover;
  overflow: hidden;
  filter: grayscale(1);
}
