// Global color variables
$white: #dfdfdf;
$gray: gray;

// Other
$content-margin: 1em auto;
$background-transparent: rgb(0, 0, 0, 0.7);

@mixin header_text {
  letter-spacing: 3px;
  color: $white;
  font-weight: 100;
}

@mixin background_image {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  object-fit: cover;
  overflow: hidden;
  filter: grayscale(1);
}
