@use "../responsive.scss";

.navigation_main {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  z-index: 1;
  max-width: 1024px;
  top: 10vh;

  @media (max-width: responsive.$tablet) {
    top: 0;
  }
}

.navigation_page {
  margin: auto;
  text-align: center;
  z-index: 1;
  max-width: 720px;
}

.navigation_bar {
  margin: auto;
  display: flex;

  @media (max-width: responsive.$tablet) {
    max-width: responsive.$mobile-large;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
