@use "../main.scss";
@use "../responsive.scss";

.navigation_main {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  z-index: 1;
  max-width: 1024px;
  top: 10vh;

  .logo_image {
    width: 100%;
    height: auto;
  }

  @media (max-width: responsive.$tablet) {
    top: 0;
  }

  .navigation_bar {
    margin: auto;
    display: flex;

    @media (max-width: responsive.$tablet) {
      max-width: responsive.$mobile-large;
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }

  .navigation_bar_mobile {
    display: none;
  }
}

.navigation_page {
  margin: auto;
  text-align: center;
  max-width: 720px;

  .logo_image {
    width: 100%;
    height: auto;
  }

  .navigation_bar {
    margin: auto;
    display: flex;

    @media (max-width: (responsive.$tablet - 1)) {
      display: none;
    }
  }

  .navigation_bar_mobile {
    @media (min-width: responsive.$tablet) {
      display: none;
    }
  }
}
