@use "../responsive.scss";
@import "../main";

.band {
  max-width: 1280px;
  margin: $content-margin;
  color: $white;

  .band_members {
    display: flex;
    flex-direction: column;
    gap: 1em;

    .member {
      display: flex;
      flex-direction: row;
      padding: 1em;
      background-color: $background-transparent;

      @media (max-width: responsive.$mobile-large) {
        flex-direction: column-reverse;
      }

      .member_image {
        flex: 1;
        margin: 0.5em;
        border: 2px solid $white;
        align-self: center;

        .image {
          vertical-align: middle;
        }
      }

      .member_description {
        flex: 3;
        padding: 0.5em;

        .member_name {
          @include header_text;
          margin: 0;
          font-size: 2.5rem;
        }

        .member_description {
          font-family: "emoji";
          font-size: 1.3rem;
          white-space: pre-line;
        }
      }
    }
  }
}
