@import "../main";

.band {
  padding: 1em;

  .band_members {
    display: flex;
    flex-direction: column;
    gap: 1em;

    .member {
      display: flex;
      flex-direction: row;
      padding: 1em;
      border: 5px solid black;
      background-color: white;

      .member_image {
        flex: 1;
        padding: 0.5em;

        .image {
          border: 5px solid black;
        }
      }

      .member_description {
        flex: 3;
        padding: 0.5em;

        .member_header {
          @include header_text;
          margin: 0;
          font-size: 2.5em;
        }

        .member_paragraph {
          font-family: "emoji";
          font-size: 1.3em;
          color: rgb(61, 61, 61);
          white-space: pre-line;
        }
      }
    }
  }
}

.band_background_image {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  background-size: cover;
  overflow: hidden;
}
