@use "../responsive";
@import "../main";

.music {
  max-width: 1280px;
  margin: $content-margin;

  .album {
    display: flex;
    margin: 1em 0;
    padding: 1em;
    background-color: $background-transparent;
    color: $white;

    @media (max-width: responsive.$tablet) {
      flex-direction: column;
    }

    .album_image {
      flex: 1;

      @media (max-width: responsive.$tablet) and (width > 500px) {
        align-self: center;
        max-width: 380px;
      }

      .image {
        width: 100%;
        height: auto;
      }
    }

    .album_info {
      flex: 2;
      padding: 1em;

      .album_name {
        @include header_text;
        margin: 0;
        font-size: 2rem;
        padding-left: 20px;
      }

      .album_year,
      .album_type {
        margin: 10px 0 0 0;
        font-family: "emoji";
        font-size: 1.2rem;
        padding-left: 20px;
      }

      .album_tracks {
        font-family: "emoji";
        font-size: 1.2rem;

        .album_item {
          padding: 5px 0;
        }
      }
    }
  }
}
