@import "../main";

.music {
  margin: $content-margin;

  .album {
    display: flex;
    padding: 1em;
    background-color: $background-transparent;
    color: $white;

    .album_image {
      flex: 1;
    }

    .album_info {
      flex: 2;
      padding: 1em;

      .album_name {
        @include header_text;
        margin: 0;
        font-size: 2em;
        padding-left: 20px;
      }

      .album_year,
      .album_type {
        margin: 10px 0 0 0;
        font-family: "emoji";
        font-size: 1.2em;
        padding-left: 20px;
      }

      .album_tracks {
        font-family: "emoji";
        font-size: 1.2em;

        .album_item {
          padding: 5px 0;
        }
      }
    }
  }
}
